*{
    padding: 0px;
    margin: 0px;
}


#cabecera {
padding: 40px 20px 40px 20px;
border-width: 0px;
background-color: rgb(189, 221, 178);
width:1080;
height: 10xp;
}


.container{
    background-color:rgb(1, 45, 70);
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 480px;
    border-radius: 0 70px 70px 0;
}

.cajas{
    font-family: "Funnel Display", sans-serif;
    color: antiquewhite;
    margin: 2px;
    padding: 5px;
}

.generales{
    background-color: blueviolet;
    padding: 0 20px;
}

p {
    background-color: rgb(189, 221, 178);
    padding: 5px 20px 20px 20px;
    font-family: "Funnel Display", sans-serif;
    text-align: left;
    width: 480px;
    height: 108px;
    font-size: 17px;
}

h1 {
    font-family: "Righteous", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 70px;
    color:rgb(1, 45, 70);

}

h2{
    font-family: "Funnel Display", sans-serif;
    color: rgb(1, 45, 70);
    background-color: rgb(189, 221, 178);
    text-align: center;
    padding: 15px 8px 2px 0;
}

#segundo-titulo{
    padding: 15px 8px 15px 2px;
}

h3 {
    font-family: "Funnel Display", sans-serif;
    font-style: italic;
    color: antiquewhite;
}

h6{
    font-family: "Funnel Display", sans-serif;
    font-style: normal;
    color: rgb(1, 45, 70);
    text-align: center;
    padding: 15px;
}

.container-generales{
    background-color: rgb(1, 45, 70);
    width: auto;
    padding: 0 10px 0px 40px;
    display: flex;
    flex-direction: column;
    border-radius: 90px 0 0 90px;
}

.contenido-general{
    display: flex;
    padding: 10px;
    margin: 15px;
    text-align: left;
    flex-direction: column;
    
}

ul{
    font-family: "Funnel Display", sans-serif;
    font-style: normal;
    color:antiquewhite;
    font-size: 17px;
    
}
li{
    font-family: "Funnel Display", sans-serif;
    color: antiquewhite;
}

section{
    display: flex;
    background-color: rgb(189, 221, 178);
}

nav{
    background-color: rgb(189, 221, 178);
}



footer{
    background-color: rgb(189, 221, 178);
    height: 50px;

}